<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        
    </head>
    <body>
        <div class="ui fixes inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog</a>
            </div>
        </div>